.header {
  background: #333;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  border-bottom: 1px solid #666;
  top: 0;
}
.Home {
  width: 50%;
  display: flex;
  justify-content: center;
}
.logo_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.header_input_content {
  display: flex;
  gap: 2vh;
  align-items: center;
  width: 25%;
}

.header_input {
  background: #444;
  color: #888;
  border: none;
  border-radius: 15px;
  padding: 0 8px;
  height: 40px;
  width: 100%;
}

.home_abas {
  display: flex;
  list-style: none;
  gap: 4vh;
}

.home_aba {
  width: 8vh;
  text-align: center;
  padding: 10px 45px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.home_aba:hover {
  background: #666;
}
.header_icon {
  transform: scale(1.5);
  color: #999;
}

.header_config {
  display: flex;
  width: 25%;
}

.header_perfil {
  display: flex;
  gap: 2vh;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin-right: 1vh;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 25px;
}
.header_perfil:hover {
  background: #666;
  padding: 0 10px;
  border-radius: 25px;
}
.header_perfil_img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.header_perfil_name {
  color: #eee;
}

.header_config_circle {
  display: flex;
  gap: 2vh;
  list-style: none;
}

.header_config_item {
  padding: 10px;
  border-radius: 50%;
  background: #444;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header_config_item:hover {
  background: #666;
}

@media (max-width: 1372px) {
  .home_abas {
    gap: 10px;
  }

  .header_config_circle {
    display: none;
  }
}

@media (max-width: 1060px) {
  .home_aba {
    width: 5vh;
    padding: 10px 20px;
  }

  .header_input {
    display: none;
  }

  .logo_img {
    width: 30px;
    height: 30px;
  }

  .header_perfil_name {
    display: none;
  }

  .header_perfil {
    margin: 0;
    width: 100%;
  }
}
